
{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "userprofile/style.css" %}" />


<div class="container">
        <div class="login">
            <div id="logo"><img src="{% static "userprofile/images/edit.png" %}">
            </div>
            <form method="post" action="{% url 'user:loggedin' %}">
            {% csrf_token %}
            <div id= loginform>
            <input type="text" class="login_input" name="username" placeholder="username"><br>
            <input type="password" class="login_input" name="password" placeholder="password"><br>
            <button type="submit">Login</button>
            <a href="{% url 'user:register' %}">Sign up here</a>
            </form>
            </div>
        </div>
</div>

{% endblock %}

{% block js %}
{% verbatim %}
<!-- <script type="text/javascript">
    var app = new Vue({
    el: '.login',
    data: function(){
        return{
            users: [],
            loginUser: {
                username:'',
                password: '',
            }
        }
    },
})
</script> -->

{% endverbatim %}
{% endblock %}