{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../static/userprofile/styles.css" />
<div class="container">
    <div class="login">
        <h1>Sign up</h1>
        <form method="post" action="/registers/">
        {% csrf_token %}
        <div class="log">
            <input v-model="newUser.username" id="register_input" type="text" name="username" placeholder="Username" /><br>
            <input v-model="newUser.first_name" id="register_input" type="text" name="first_name" placeholder="First Name" /><br>
            <input v-model="newUser.last_name" id="register_input" type="text" name="last_name" placeholder="Last Name" /><br>
            <input v-model="newUser.email" id="register_input" type="text" name="email" placeholder="E-mail" /> <br>
            <input v-model="newUser.password" id="register_input" type="password" name="password" placeholder="Password" /><br><br>
            <button>Register</button>
        </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% verbatim %}
<!--     <script type="text/javascript">
        var app = new Vue({
            delimiters: ["[[","]]"],
            el: ".log",
            data: function(){
                return{
                    users: [],
                    newUser: {
                        username:'',
                        first_name: '', 
                        last_name: '',
                        email: '',
                        password: '',
                },
                }
            },

            mounted: function(){
                this.getUsers();
            },

            methods: {
                addUser: function(e){
                    var resource = this.$resource('/api/user/');
                    resource.save({}, this.newUser)
                        .then((response) => {
                            this.getUsers();
                        }).catch((error) => {

                        });
                },

                getUsers: function(e){
                    var resource = this.$resource('/api/user/');
                    resource.get()
                        .then((response) => {
                            this.users = response.data;
                        }).catch((error) => {

                        });
                },
            }
        })
    </script> -->
{% endverbatim %}
{% endblock %}