/* line 1, ../sass/asd.scss */
body {
  background: white url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/* line 9, ../sass/asd.scss */
div.navbar {
  position: relative;
}
/* line 11, ../sass/asd.scss */
div.navbar ul {
  position: relative;
  right: 22%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 144%;
  bottom: 10px;
}
/* line 22, ../sass/asd.scss */
div.navbar ul li {
  float: left;
}
/* line 25, ../sass/asd.scss */
div.navbar ul li a:not(.user) {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 30px;
}
/* line 33, ../sass/asd.scss */
div.navbar ul li a:not(.user).active {
  background-color: #a31d0b;
}
/* line 38, ../sass/asd.scss */
div.navbar ul li a:hover:not(.active) {
  background-color: #111;
}
/* line 42, ../sass/asd.scss */
div.navbar ul li img {
  position: absolute;
  height: 60px;
  display: block;
  right: 50%;
}
/* line 47, ../sass/asd.scss */
div.navbar ul li img:hover {
  transform: scale(1.4);
}

/* line 56, ../sass/asd.scss */
div.content {
  text-align: center;
  margin: auto;
  width: 70%;
  padding: 10px;
}
/* line 62, ../sass/asd.scss */
div.content .modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
/* line 74, ../sass/asd.scss */
div.content .modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 80%;
  border-radius: 9px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: auto;
}
/* line 88, ../sass/asd.scss */
div.content .modal .modal-content::-webkit-scrollbar {
  display: none;
  width: 0px;
}
/* line 93, ../sass/asd.scss */
div.content .modal .modal-content .userprofile {
  position: relative;
  left: 43%;
}
/* line 98, ../sass/asd.scss */
div.content .modal .modal-content .userprofile-forms {
  display: block;
  position: relative;
  width: 30%;
  left: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #a31d0b;
  background-color: transparent;
  font-size: 24px 24px 24px 24px;
}
/* line 111, ../sass/asd.scss */
div.content .modal .modal-content .userprofile-forms:focus {
  border-bottom: 2px solid #0b91a3;
  outline: none;
}
/* line 115, ../sass/asd.scss */
div.content .modal .modal-content .userprofile-forms:focus::-webkit-input-placeholder {
  opacity: 0;
}
/* line 121, ../sass/asd.scss */
div.content .modal .modal-content h1, div.content .modal .modal-content h2, div.content .modal .modal-content select, div.content .modal .modal-content input, div.content .modal .modal-content textarea, div.content .modal .modal-content a {
  font-family: OCR A Std, monospace;
  weight: 900;
  color: black;
}
/* line 126, ../sass/asd.scss */
div.content .modal .modal-content a:hover {
  color: #7524cc;
}
/* line 129, ../sass/asd.scss */
div.content .modal .modal-content select option {
  color: black;
}
/* line 132, ../sass/asd.scss */
div.content .modal .modal-content textarea {
  resize: none;
}
/* line 135, ../sass/asd.scss */
div.content .modal .modal-content img {
  border: 3px solid black;
  border-radius: 100%;
  width: 35%;
  height: 35%;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* line 152, ../sass/asd.scss */
div.content .modal .modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
/* line 158, ../sass/asd.scss */
div.content .modal .modal-content .close:hover, div.content .modal .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* line 167, ../sass/asd.scss */
div.content div.layout {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  filter: alpha(opacity=60);
  width: 70%;
  padding-bottom: 20px;
  height: 80%;
  bottom: 30%;
  border-radius: 12px;
  top: 100px;
  text-align: center;
  overflow: auto;
}
/* line 181, ../sass/asd.scss */
div.content div.layout::-webkit-scrollbar {
  display: none;
  width: 0px;
}
/* line 186, ../sass/asd.scss */
div.content div.layout img {
  height: 200%;
}
/* line 190, ../sass/asd.scss */
div.content div.layout .info-header {
  position: fixed;
  top: 10px;
  text-align: left;
  width: 100%;
}
/* line 195, ../sass/asd.scss */
div.content div.layout .info-header .info {
  padding-bottom: 10px;
  background-color: #a31d0b;
  position: relative;
  top: 80px;
  padding: 10px;
}
/* line 201, ../sass/asd.scss */
div.content div.layout .info-header .info h1 {
  font-size: 1.3em;
  font-family: calibri, arial;
  font-size: 25px;
  color: #333;
}
/* line 206, ../sass/asd.scss */
div.content div.layout .info-header .info h1 span {
  padding: 1px;
  font-size: 18px;
}
/* line 214, ../sass/asd.scss */
div.content div.layout div.header {
  position: fixed;
  width: 70%;
  background-color: #4a4b4c;
}
/* line 220, ../sass/asd.scss */
div.content div.layout div.content-layout {
  padding-top: 60px;
  width: 100%;
  content: "";
  display: table;
  clear: both;
}
/* line 227, ../sass/asd.scss */
div.content div.layout div.content-layout div {
  float: left;
  width: 31.95%;
  border: thin solid #777;
  margin: 0.5em;
  height: 600px;
  height: 500px;
  background-color: rgba(229, 230, 232, 0.6);
  border-radius: 12px;
}
/* line 237, ../sass/asd.scss */
div.content div.layout div.content-layout div p {
  text-align: left;
  font-weight: 900;
  font-family: OCR A Std, monospace;
}
/* line 243, ../sass/asd.scss */
div.content div.layout div.content-layout div img {
  width: 95%;
  height: 350px;
  transition: transform 0.5s;
  border-radius: 4px;
}
/* line 249, ../sass/asd.scss */
div.content div.layout div.content-layout div img:hover {
  transform: scale(1.1);
}
/* line 254, ../sass/asd.scss */
div.content div.layout div.content-layout div a {
  color: black;
}
/* line 257, ../sass/asd.scss */
div.content div.layout div.content-layout div a:hover {
  color: #521f7c;
}
/* line 264, ../sass/asd.scss */
div.content div.layout * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 272, ../sass/asd.scss */
input, select, textarea, button, a, span {
  color: white;
  font-family: OCR A Std, monospace;
  weight: 900;
}

/* line 278, ../sass/asd.scss */
button {
  background-color: #a31d0b;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* line 291, ../sass/asd.scss */
button:hover {
  background-color: #111;
}

/* line 296, ../sass/asd.scss */
div.content_createworkout {
  text-align: center;
  margin: auto;
  width: 70%;
  padding: 10px;
}
/* line 302, ../sass/asd.scss */
div.content_createworkout div.layout_createworkout {
  position: relative;
  left: 20%;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  filter: alpha(opacity=60);
  width: 60%;
  padding-bottom: 20px;
  height: 100%;
  bottom: 30%;
  border-radius: 12px;
  top: 100px;
}
/* line 315, ../sass/asd.scss */
div.content_createworkout div.layout_createworkout h1 {
  font-family: OCR A Std, monospace;
  color: white;
  font-size: 50px;
}
/* line 321, ../sass/asd.scss */
div.content_createworkout div.layout_createworkout ::placeholder {
  color: white;
  opacity: 0.6;
}
/* line 326, ../sass/asd.scss */
div.content_createworkout div.layout_createworkout textarea {
  resize: none;
}
/* line 331, ../sass/asd.scss */
div.content_createworkout div.layout_createworkout .createworkout {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #a31d0b;
  background-color: transparent;
  font-size: 30px;
  text-align: center;
}
/* line 342, ../sass/asd.scss */
div.content_createworkout div.layout_createworkout .createworkout:focus {
  border-bottom: 2px solid #0b91a3;
  outline: none;
}
/* line 346, ../sass/asd.scss */
div.content_createworkout div.layout_createworkout .createworkout:focus::-webkit-input-placeholder {
  opacity: 0;
}
/* line 351, ../sass/asd.scss */
div.content_createworkout div.layout_createworkout select.createworkout {
  background: rgba(0, 0, 0, 0.3);
}
