body {
  background: white url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
}

div.navbar{
    position: relative;
    ul{
        position: relative;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333; 
        width: 100%;
        bottom: 10px;

        li {
            float: left;
    
            & a:not(.user) {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 30px;
                text-decoration: none;
                font-size: 30px;
    
                &.active {
                    background-color:#a31d0b;
                }
            }
    
            & a:hover:not(.active) {
                  background-color: #111;
            }
    
            & img{
                position: absolute;
                height: 60px;
                display: block;
                right: 50%;
                &:hover{
                    transform: scale(1.4);
                }
            }
    
        }
    }
}

div.content {
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 10px;

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 40%;
            height: 80%;
            border-radius: 9px;
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s;

            .userprofile-forms{
                display: none;
                position: relative;
                width: 30%;
                left: 35%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border: none;
                border-bottom: 2px solid #a31d0b;
                background-color: rgba(0, 0, 0, 0);
                font-size: 24px 24px 24px 24px;

                &:focus{
                border-bottom: 2px solid complement(#a31d0b);
                outline: none;

                    &::-webkit-input-placeholder {
                        opacity: 0;
                    }
                }
            }

            .form-saves{
                position: relative;
                display: none;
                float: right;
                height: 30px;
                width: 60px;
                background-color: #00b545;
                padding: 1px;
                bottom: 6%;
                right: 25%;

                    &:hover{
                        background-color: #3dff87;
                    }
            }

            h1,h2,select,input{
                font-family: OCR A Std, monospace;
                weight: 900;
                color: black;
            }

            select option{
                color: black;
            }
            img{
                border: 3px solid black; 
                border-radius: 100%;
                width:35%;
                height:35%;
            }

            @-webkit-keyframes animatetop {
                from {top:-300px; opacity:0} 
                to {top:0; opacity:1}
            }

            @keyframes animatetop {
                from {top:-300px; opacity:0}
                to {top:0; opacity:1}
            }

            .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;

                &:hover, &:focus{
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }

    div.layout{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        border: 1px solid black;
        filter: alpha(opacity=60);
        width: 70%;
        padding-bottom: 20px;
        height: 80%;
        bottom: 30%;
        border-radius: 12px;
        top:100px;
        text-align: center;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
            width: 0px;
        }

        img{
            height: 200%;
        }

        .info-header{
            position: fixed;
            top: 10px;
            text-align: left;
            background-color: white;
            width: 100%;
            .info{
                padding-bottom: 10px;
                background-color: #a31d0b;
                overflow: hidden;
                h1{
                    font-size: 1.3em;
                    font-family: calibri, arial;
                    font-size: 25px;
                    color: #333;
                    span{
                        padding: 1px;
                        font-size: 18px;
                    }
                }
            }
        }

        div.header{
            position: fixed;
            width: 70%;
            background-color: rgb(74, 75, 76);
        }

        div.content-layout{
            padding-top: 60px;
            width: 100%;
            content: "";
            display: table;
            clear: both;

            & div{
                float: left;
                width: 31.95%;
                border:thin solid #777;
                margin: 0.5em;
                height: 600px;
                height: 500px;
                background-color: rgba(229, 230, 232, 0.6);
                border-radius: 12px;

                & p{
                    text-align: left;
                    font-weight: 900;
                    font-family: OCR A Std, monospace;
                }

                & img{
                    width: 95%;
                    height: 350px;
                    transition: transform 0.5s;
                    border-radius: 4px;

                    &:hover{
                        transform: scale(1.1);
                    }
                }

                & a{
                    color: black;

                    &:hover{
                        color: #521f7c;
                    }
                }
            }
        }

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
}

input, select, textarea, button, a, span{
    color: white;
    font-family: OCR A Std, monospace;
    weight: 900;
}

button {
    background-color: #a31d0b;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    &:hover{
        background-color: #111;
    }
}

div.content_createworkout {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 40%;
            height: 80%;
            border-radius: 9px;
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s;

            h1{
                font-family: OCR A Std, monospace;
                weight: 900;
            }
            img{
                border: 3px solid black; 
                border-radius: 100%;
                width:40%;
                height:40%;
            }

            @-webkit-keyframes animatetop {
                from {top:-300px; opacity:0} 
                to {top:0; opacity:1}
            }

            @keyframes animatetop {
                from {top:-300px; opacity:0}
                to {top:0; opacity:1}
            }

            .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;

                &:hover, &:focus{
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
            }

        }
    }

    div.layout_createworkout{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        border: 1px solid black;
        filter: alpha(opacity=60);
        width: 50%;
        padding-bottom: 20px;
        height: 80%;
        bottom: 30%;
        border-radius: 12px;
        top:100px;

        h1{
            font-family: OCR A Std, monospace;
            color: white;
            font-size: 50px;
        }

        ::placeholder {
            color: white;
            opacity: 0.6;
        }

        textarea{
            resize: none;
        }


        .createworkout{
            width: 80%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid #a31d0b;
            background-color: rgba(0, 0, 0, 0);
            font-size: 30px;
            text-align: center;

            &:focus{
                border-bottom: 2px solid complement(#a31d0b);
                outline: none;

                &::-webkit-input-placeholder {
                    opacity: 0;
                }
            }
        }
        select.createworkout{
                background: rgba(0,0,0,0.3);
        }
    }    
}
