{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "workout/stylesheets/asd.css" %}" />
<div class="navbar">
    <ul>
        <li><a href="{% url 'user:home' %}">Home</a></li>
        <li><a class="active" href="{% url 'user:workout' %}">Workout</a></li>
        <li><a class="user"><img src="{% static "workout/images/user.png" %}" id="user"></a></li>
        <li style="float:right"><a href="">Logout</a></li>
    </ul>
</div>
<div class = "content_createworkout">
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p><h1>PROFILE PAGE</h1></p>
            <img src="{% static "workout/images/pewds.jpg" %}" id="user">
        </div>
    </div>
    <div id="layout_createworkout" class = "layout_createworkout">
        <form method="post" action="{% url 'user:createworkout' %}"
        enctype="multipart/form-data">
            {% csrf_token %}
            <h1>CREATE WORKOUT</h1>
            <input name="{{ form.workout_name.name }}" class="createworkout" placeholder="WORKOUT NAME"><br><br>
            <select name="{{ form.workout_type.name }}" class="createworkout" placeholder = "WORKOUT TYPE">
            <option value="">WORKOUT TYPE</option>
            {% for value, label in form.workout_type.field.choices %}
            <option value="{{value}}">{{ label }}</option>
            {% endfor %}
            </select><br><br>
            <textarea name="{{ form.description.name }}" class="createworkout" placeholder="DESCRIPTION" WRAP="HARD"></textarea><br><br>
            <input type="file" class="createworkout" name="{{ form.workout_photo.name }}"><br><br>
            <button>Create</button>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
var modal = document.getElementById('myModal');
var btn = document.getElementById("user");
var span = document.getElementsByClassName("close")[0];
var content = document.getElementById("layout_createworkout");
 
btn.onclick = function() {
    modal.style.display = "block";
    content.style.display = "none";
}
span.onclick = function() {
    modal.style.display = "none";
    content.style.display = "block";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
        content.style.display = "block";
    }
}
</script>
{% endblock %}