{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "workout/style.css" %}" />
<div class="navbar">
    <ul>
        <li><a href="{% url 'user:home' %}">Home</a></li>
        <li><a class="active" href="{% url 'user:workout' %}">Workout</a></li>
        <li style="float:right"><a href="">Logout</a></li>
    </ul>
</div>
<div class = "content_createworkout">
    <div class = "layout_createworkout">
    	<form method="post" action="{% url 'user:createworkout' %}"
        enctype="multipart/form-data">
    		{% csrf_token %}
    		<h1>CREATE WORKOUT</h1>
    		<input name="{{ form.workout_name.name }}" class="createworkout" placeholder="WORKOUT NAME"><br><br>
    		<select name="{{ form.workout_type.name }}" class="createworkout" placeholder = "WORKOUT TYPE">
    		<option value="">WORKOUT TYPE</option>
    		{% for type in form.workout_type %}
    		<option value="type">{{ type }}</option>
    		{% endfor %}
    		</select><br><br>
            <textarea name="{{ form.description.name }}" class="createworkout" placeholder="DESCRIPTION" WRAP="HARD"></textarea><br><br>
            <input type="file" class="createworkout" name="{{ form.workout_photo.name }}"><br><br>
    		<button>Create</button>
    	</form>
    </div>
</div>
{% endblock %}