{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "workout/stylesheets/asd.css" %}" />
<div class="navbar">
    <ul>
        <li><a class="active" href="{% url 'user:home' %}">Home</a></li>
        <li><a href="{% url 'user:workout' %}">Workout</a></li>
        <li><a class="user"><img src="{% static "workout/images/user.png" %}" id="user"></a></li>
        <li style="float:right"><a href="{% url 'login:logout' %}">Logout</a></li>
    </ul>
</div>
<div class = "content">
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p><h1>PROFILE PAGE</h1></p>
            <img src="{% static "workout/images/pewds.jpg" %}" id="user">
            <p><h2>{{ user.first_name }} {{user.last_name }}</h2></p>
            <p><h2>{{ user.email }}</h2></p>
            <p><h2 id="gender-display"> <label >Gender:</label> {{ user.userprofile.gender }} <i id="icon-gender" class="fa fa-edit"></i></h2></p>
            <select name="{{ form.gender.name }}" id="gender-form" class="userprofile-forms">
                <option value="">Gender</option>
            {% for value, label in form.gender.field.choices %}
                <option value="{{value}}">{{label}}</option>
            {% endfor %}
            </select>
            <button class="form-saves" id="save-gender">save</button>
            <p><h2 id="usertype-display"> <label>User Type:</label> {{ user.userprofile.get_usertype_display }} <i id="icon-usertype" class="fa fa-edit"></i></h2></p>
            <select name="{{ form.usertype.name }}" id="usertype-form" class="userprofile-forms">
                <option value="">User Type</option>
            {% for value, label in form.usertype.field.choices %}
                <option value="{{value}}">{{label}}</option>
            {% endfor %}
            </select>
            <button class="form-saves" id="save-usertype">save</button>
            <p><h2 id="birthday-display"> <label>Birthday:</label> {{ user.userprofile.birthday }} <i id="icon-birthday" class="fa fa-edit"></i></h2></p>
            <input type="date" name="{{ form.birthday.name }}" id="birthday-form" class="userprofile-forms">
            <button class="form-saves" id="save-birthday">save</button>
            <p><h2  id="address-display"> <label>Address:</label> {{ user.userprofile.address }} <i id="icon-address" class="fa fa-edit"></i></h2></p>
            <p><h2  id="height-display"> <label>Height:</label> {{ user.userprofile.height }} <i id="icon-height" class="fa fa-edit"></i></h2></p>
            <p><h2  id="weight-display"> <label>Weight:</label> {{ user.userprofile.weight }} <i id="icon-weight" class="fa fa-edit"></i></h2></p>
        </div>
    </div>
    <div id="layout" class = "layout">
    </div>
</div>
{% endblock %}

{% block js %}
<script>

var modal = document.getElementById('myModal');

var btn = document.getElementById("user");

var span = document.getElementsByClassName("close")[0];

var content = document.getElementById("layout");

var genderform = document.getElementById("gender-form");
var editgender = document.getElementById("icon-gender");
var displaygender = document.getElementById("gender-display");
var btngender = document.getElementById("save-gender");

var usertypeform = document.getElementById("usertype-form");
var editusertype = document.getElementById("icon-usertype");
var displayusertype = document.getElementById("usertype-display");
var btnusertype = document.getElementById("save-usertype");

var birthdayform = document.getElementById("birthday-form");
var editbirthday = document.getElementById("icon-birthday");
var displaybirthday = document.getElementById("birthday-display");
var btnbirthday = document.getElementById("save-birthday");

btn.onclick = function() {
    modal.style.display = "block";
    content.style.display = "none";
}

span.onclick = function() {
    modal.style.display = "none";
    content.style.display = "block";
}


window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
        content.style.display = "block";
    }
}

editgender.onclick = function(){
     genderform.style.display = "block";
     btngender.style.display = "block";
     displaygender.style.display = "none";
}
btngender.onclick = function(){
     genderform.style.display = "none";
     btngender.style.display = "none";
     displaygender.style.display = "block";
}

editusertype.onclick = function(){
     usertypeform.style.display = "block";
     btnusertype.style.display = "block";
     displayusertype.style.display = "none";
}
btnusertype.onclick = function(){
     usertypeform.style.display = "none";
     btnusertype.style.display = "none";
     displayusertype.style.display = "block";
}

editbirthday.onclick = function(){
     birthdayform.style.display = "block";
     btnbirthday.style.display = "block";
     displaybirthday.style.display = "none";
}
btnbirthday.onclick = function(){
     birthdayform.style.display = "none";
     btnbirthday.style.display = "none";
     displaybirthday.style.display = "block";
}
</script>
{% endblock %}