{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load rest_framework %}
<link rel="stylesheet" type="text/css" href="{% static "workout/stylesheets/asd.css" %}" />
<div class = "content">
    <div class="navbar">
        <ul>
            <li><a href="{% url 'workout:home' %}">Home</a></li>
            <li><a class="active" href="{% url 'workout:workout' %}">Workout</a></li>
            <li><a class="user"><img v-on:click="user" src="{% static "workout/images/User-01.png" %}" id="user"></a></li>
            <li style="float:right"><a href="{% url 'login:logout' %}">Logout</a></li>
        </ul>
    </div>
    <div id="myModal" class="modal" v-bind:style="{display: modals}">
        <div class="modal-content">
            <span class="close" v-on:click="close">&times;</span>
            <p><h1>PROFILE PAGE</h1></p>
            <img src="{% static "workout/images/pewds.jpg" %}" id="user">
            <p><h2>[[ currentuser.fullname ]]</h2></p>
            <p><h2>[[ currentuser.email ]]</h2></p>
            <form method="post" v-on:submit.prevent="updateProfile($event)">
                <h2 id="gender-display" v-bind:style="{display: hidelabel}"> <label >Gender:</label> [[ currentuser.gender ]] </h2>
                <p><select v-model="currentprofile.gender" name="gender" class="userprofile-forms" v-bind:style="{display: showform}">
                    <option value="" disabled selected>Gender</option>
                    <option v-for="gender in genders" v-bind:value="gender[0]">[[ gender ]]</option>
                </select></p>
                <h2 id="usertype-display" v-bind:style="{display: hidelabel}"> <label>User Type:</label> [[ currentuser.usertype ]] </h2>
                <p><select v-model="currentprofile.usertype" name="usertype" class="userprofile-forms" v-bind:style="{display: showform}">
                    <option value="" disabled selected>User Type</option>
                    <option v-for="(usertype,i) in usertypes" v-bind:value="i+1">[[ usertype ]]</option>
                </select></p>
                <h2 id="birthday-display" v-bind:style="{display: hidelabel}"> <label>Birthday:</label> [[ currentuser.birthdate ]] </h2>
                <p><input v-model="currentprofile.birthdate" type="date" name="birthdate" class="userprofile-forms" placeholder="birthdate" v-bind:style="{display: showform}"></p>
                <h2  id="address-display" v-bind:style="{display: hidelabel}"> <label>Address:</label> [[ currentuser.address ]] </h2>
                <p><textarea v-model="currentprofile.address" name="address" class="userprofile-forms" placeholder="address" v-bind:style="{display: showform}"></textarea></p>
                <h2  id="height-display" v-bind:style="{display: hidelabel}"> <label>Height:</label> [[ currentuser.height ]]</h2>
                <p><input v-model="currentprofile.height" type="number" name="height" class="userprofile-forms" placeholder="height" v-bind:style="{display: showform}"></p>
                <h2  id="weight-display" v-bind:style="{display: hidelabel}"> <label>Weight:</label> [[ currentuser.weight ]]</h2>
                <p><input v-model="currentprofile.weight" type="number" name="weight" class="userprofile-forms" placeholder="weight" v-bind:style="{display: showform}"></p>
                <p><button class="userprofile" v-on:click="showLabels" v-bind:style="{display: showform}">Save</button></p>
                <p><button type="button" class="userprofile" v-on:click="showForms" v-bind:style="{display: hidelabel}">Edit</button></p>
            </form>
        </div>
    </div>
    <div id="layout" class = "layout">
        <div class="header">
            <form action="{% url 'workout:createworkout' %}">
            <button id="createworkout" style="float:right">CREATE WORKOUT</button>
            </form>
        </div>
        <div class="content-layout">
            <div class="workout" v-for="workout in workouts">
                <a v-bind:href="workout.workout_photo"><img v-bind:src="workout.workout_photo"></a>
                <p>Workout Name: <a v-bind:href="workout.id">[[workout.workout_name]]</a></p>
                <p>Workout Type: [[workout.workouttype]]</p>
                <p>Description: [[workout.description]]</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }
    var userId = {{user.id}};
        var layout = new Vue({
            el: '.content',
            delimiters: ["[[","]]"],
            data: function(){
                return{
                    workouts:[],
                    currentworkout:{},
                    currentprofile:{},
                    prof: {},
                    currentuser:{},
                    genders: ['Male','Female'],
                    usertypes: ['Trainee','Trainer'],
                    showform: 'none',
                    hidelabel: 'block',
                    modals: 'none',
                }
            },
            watch: {
                currentprofile:{
                    handler(newValue, oldValue) {
                        if (this.currentprofile.usertype == 1) {
                            this.currentprofile.user_type = 'Trainee'
                        } else {
                            this.currentprofile.user_type = 'Trainer'
                        }
                        if(this.currentprofile.gender == 'M'){
                            this.currentprofile.sex = 'Male'
                        } else{
                            this.currentprofile.sex = 'Female'
                        }
                    },
                    deep: true
                } ,
            },
            mounted: function(){
                this.getWorkouts();
                this.getCurrentProfile(userId);
                this.getCurrentUser(userId);
            },
            methods: {
                getWorkouts: function(e){
                    var resource = this.$resource('/api/workout/');
                    resource.get()
                        .then((response)=> {
                            this.workouts = response.data;
                        }).catch((error) => {
                            console.log('ERROR')
                        });
                },
                user: function(){
                    this.modals = 'block'
                },
                close: function(){
                    this.modals = 'none'
                },
                showForms: function(){
                    this.showform = 'block'
                    this.hidelabel = 'none'
                    this.getCurrentUser(userId);
                    return
                },
                showLabels: function(){
                    this.showform = 'none'
                    this.hidelabel = 'block'
                },
                updateProfile: function(id){
                    getCookie;
                    this.$http.put('/api/userprofile/update/', this.currentprofile, {headers: {'X-CSRFToken': getCookie("csrftoken")}})
                    .then((response) => {
                        this.currentprofile = {};
                    }).catch((error) => {
                            console.log('ERROR')
                        });
                },
                getCurrentProfile: function(user) {
                    var resource = this.$resource('/api/userprofile{/user}');
                    resource.get({user: user})
                        .then((response) => {
                            this.currentprofile = response.data;
                            this.prof = response.data;
                        }).catch((error) => {
                            console.log('ERROR')
                        });
                },
                getCurrentUser: function(id){
                var resource = this.$resource('/api/user{/id}');
                resource.get({id: id})
                    .then((response) => {
                        this.currentuser = response.data;
                    }).catch((error) => {
                        console.log('ERROR')
                    });
            },
            }
        })
    </script>
{% endblock %}