{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load rest_framework %}
<link rel="stylesheet" type="text/css" href="{% static "workout/stylesheets/asd.css" %}" />
<div class = "content">
    <div class="navbar">
        <ul>
            <li><a href="{% url 'workout:home' %}">Home</a></li>
            <li><a class="active" href="{% url 'workout:workout' %}">Workout</a></li>
            <li><a class="user"><img v-on:click="user" src="{% static "workout/images/user.png" %}" id="user"></a></li>
            <li style="float:right"><a href="{% url 'login:logout' %}">Logout</a></li>
        </ul>
    </div>
    <div id="myModal" class="modal" v-bind:style="{display: modals}">
        <div class="modal-content">
            <span class="close" v-on:click="close">&times;</span>
            <p><h1>PROFILE PAGE</h1></p>
            <img src="{% static "workout/images/User-01.png" %}" id="user">
            <p><h2>[[ prof.fullname ]]</h2></p>
            <p><h2>[[ prof.email ]]</h2></p>
            <form method="post" v-on:submit.prevent="updateProfile($event)">
                <h2 id="gender-display" v-bind:style="{display: hidelabel}"> <label >Gender:</label> [[ prof.sex ]] </h2>
                <p><select v-model="currentprofile.gender" name="gender" class="userprofile-forms" v-bind:style="{display: showform}">
                    <option value="" disabled selected>Gender</option>
                    <option v-for="gender in genders" v-bind:value="gender[0]">[[ gender ]]</option>
                </select></p>
                <h2 id="usertype-display" v-bind:style="{display: hidelabel}"> <label>User Type:</label> [[ prof.user_type ]] </h2>
                <p><select v-model="currentprofile.usertype" name="usertype" class="userprofile-forms" v-bind:style="{display: showform}">
                    <option value="" disabled selected>User Type</option>
                    <option v-for="(usertype,i) in usertypes" v-bind:value="i+1">[[ usertype ]]</option>
                </select></p>
                <h2 id="birthday-display" v-bind:style="{display: hidelabel}"> <label>Birthday:</label> [[ prof.birthdate ]] </h2>
                <p><input v-model="currentprofile.birthdate" type="date" name="birthdate" class="userprofile-forms" placeholder="birthdate" v-bind:style="{display: showform}"></p>
                <h2  id="address-display" v-bind:style="{display: hidelabel}"> <label>Address:</label> [[ prof.address ]] </h2>
                <p><textarea v-model="currentprofile.address" name="address" class="userprofile-forms" placeholder="address" v-bind:style="{display: showform}"></textarea></p>
                <h2  id="height-display" v-bind:style="{display: hidelabel}"> <label>Height:</label> [[ prof.height ]]</h2>
                <p><input v-model="currentprofile.height" type="number" name="height" class="userprofile-forms" placeholder="height" v-bind:style="{display: showform}"></p>
                <h2  id="weight-display" v-bind:style="{display: hidelabel}"> <label>Weight:</label> [[ prof.weight ]]</h2>
                <p><input v-model="currentprofile.weight" type="number" name="weight" class="userprofile-forms" placeholder="weight" v-bind:style="{display: showform}"></p>
                <p><button type="submit" class="userprofile" v-on:click="showLabels" v-bind:style="{display: showform}">Save</button></p>
                <p><button type="button" class="userprofile" v-on:click="showForms" v-bind:style="{display: hidelabel}">Edit</button></p>
            </form>
        </div>
    </div>
    <div id="layout" class = "layout">
        <div class="info-header">
            <div class="info">
                <h1>Workout Name: <span>[[ currentworkout.workout_name ]]</span></h1>
                <h1>Workout Type: <span> [[ currentworkout.workouttype ]] </span></h1>
                <h1>Description: <span>[[ currentworkout.description ]]</span></h1>
            </div>
        </div>
        <div class="nav-workout">
            <ul>
                <li><i><u><a v-bind:class="video" v-on:click="getVideos">Videos</a></u></i></li>
                <li><i><u><a v-bind:class="audio" v-on:click="getAudio">Audio Coach</a></u></i></li>
                <li><i><u><a v-bind:class="live" v-on:click="getLivestream">Live Streams</a></u></i></li>
            </ul>
        </div>
        <div class="file-contents" id="file-contents">
            <div id="live" v-bind:style="{display: stream}">
            </div>
            <button id="1" v-bind:style="{display: livestream}">Start </button>
            <button id="2" v-bind:style="{display: livestream}">End </button>
            <div id="createVideo" class="modal-video" v-bind:style="{display: vm}">
                <div class="videomodal">
                    <form method="post" v-on:submit.prevent="addVideo($event)" enctype="multipart/form-data">
                    <span class="close-vm" v-on:click="closevm">&times;</span><br>
                    <h1>CREATE VIDEO</h1>
                    <input type="text" v-model="createvid.video_name" class="createvid" name="video_name" placeholder="Video Name"><br><br>
                    <label>Video File</label><br><input @change="videofile" type="file" class="createvid" name="video_file"><br><br>
                    <label>Video Thumbnail</label><br><input @change="photo" type="file"  class="createvid" name="video_thumbnail"><br>
                    [[ createvid.workout_video ]]<br>
                    [[ createvid.workout_thumbnail ]]
                    <button>Create</button>
                    </form>    
                </div>
            </div>
            <div v-for="vid in vids" class="vidfile" v-bind:style="{display: videos}">
                <img v-bind:src="vid.workout_thumbnail">
                <p>[[ vid.video_name ]]</p>
            </div>
        </div>
        <div class="button">
                <button v-on:click="showvm">Create Video</button>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script type="text/javascript">
        var apiKey = '{{api_key}}';
        var sessionId = '{{session_id}}';
        var token = '{{token}}';
    </script>
<script type="text/javascript" src="{% static 'videostream/publishVideo.js' %}"></script>
<script type="text/javascript">
        function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }
    var userId = {{user.id}};
    var workoutid = {{workout_id}};
        var layout = new Vue({
            el: '.content',
            delimiters: ["[[","]]"],
            data: function(){
                return{
                    workouts:[],
                    vids: [],
                    currentworkout:{},
                    currentprofile:{},
                    createvid: {
                        video_name: '',
                        workout_video: '',
                        workout_thumbnail: '',
                    },
                    prof: {},
                    currentuser:{},
                    genders: ['Male','Female'],
                    usertypes: ['Trainee','Trainer'],
                    showform: 'none',
                    hidelabel: 'block',
                    modals: 'none',
                    video: '',
                    audio: '',
                    live: '',
                    vm: 'none',
                    livestream: 'none',
                    videos: 'block',
                    stream: 'none',
                }
            },
            watch: {
                currentprofile:{
                    handler(newValue, oldValue) {
                        if (this.currentprofile.usertype == 1) {
                            this.currentprofile.user_type = 'Trainee'
                        } else {
                            this.currentprofile.user_type = 'Trainer'
                        }
                        if(this.currentprofile.gender == 'M'){
                            this.currentprofile.sex = 'Male'
                        } else{
                            this.currentprofile.sex = 'Female'
                        }
                    },
                    deep: true
                } ,
            },
            mounted: function(){
                this.getWorkouts();
                this.getCurrentWorkout(workoutid);
                this.getCurrentProfile(userId);
                this.getVids();
            },
            methods: {
                photo: function(e){
                    var files = e.target.files || e.dataTransfer.files;
                    if (!files.length)
                        return;
                    this.createPhoto(files[0]);
                },
                createPhoto(file) {
                  var image = new Image();
                  var reader = new FileReader();
            
                  reader.onload = (e) => {
                    this.createvid.workout_thumbnail = e.target.result;
                  };
                  reader.readAsDataURL(file);
                },
                videofile: function(e){
                    var files = e.target.files || e.dataTransfer.files;
                    if (!files.length)
                        return;
                    this.createVideo(files[0]);
                },
                createVideo(file) {
                  var image = new Image();
                  var reader = new FileReader();
            
                  reader.onload = (e) => {
                    this.createvid.workout_video = e.target.result;
                  };
                  reader.readAsDataURL(file);
                },
                addVideo: function(e){
                    let form = new FormData(e.target)
                    this.$http.post('/api/workoutvideo/', form, {headers: {'X-CSRFToken': getCookie("csrftoken"), 
                    'Content-Type': 'multipart/form-data'}})
                    .then((response) => {
                        this.getVids();
                    }).catch((error) => {
                        console.log('ERROR')
                    });
                },
                getVids: function(){
                    var resource = this.$resource('/api/workoutvideo/');
                    resource.get()
                        .then((response)=> {
                            this.vids = response.data;
                        }).catch((error) => {
                            console.log('ERROR')
                        });
                },
                showvm: function(){
                    this.vm = 'block';
                },
                closevm: function(){
                    this.vm = 'none';
                },
                getVideos: function(){
                    this.video = 'active';
                    this.audio = '';
                    this.live = '';
                    this.livestream = 'none';
                    this.videos = 'block';
                    this.stream = 'none';
                },
                getAudio: function(){
                    this.video = '';
                    this.audio = 'active';
                    this.live = '';
                },
                getLivestream: function(){
                    this.video = '';
                    this.audio = '';
                    this.live = 'active';
                    this.livestream = 'inline-block';
                    this.videos = 'none';
                    this.stream = 'block';
                },
                getCurrentWorkout: function(id){
                    var resource = this.$resource('/api/workout{/id}');
                    resource.get({id:id})
                        .then((response) => {
                            this.currentworkout = response.data;
                        }).catch((error) => {
                            console.log('ERROR')
                        });
                },
                getWorkouts: function(e){
                    var resource = this.$resource('/api/workout/');
                    resource.get()
                        .then((response)=> {
                            this.workouts = response.data;
                        }).catch((error) => {
                            console.log('ERROR')
                        });
                },
                user: function(){
                    this.modals = 'block'
                },
                close: function(){
                    this.modals = 'none'
                },
                showForms: function(){
                    this.showform = 'block'
                    this.hidelabel = 'none'
                    this.getCurrentProfile(userId);
                    return
                },
                showLabels: function(){
                    this.showform = 'none'
                    this.hidelabel = 'block'
                },
                updateProfile: function(user){
                    getCookie;
                    this.$http.put('/api/userprofile/update/', this.currentprofile, {headers: {'X-CSRFToken': getCookie("csrftoken")}})
                    .then((response) => {
                        this.currentprofile = {};
                    }).catch((error) => {
                            console.log('ERROR')
                        });
                },
                getCurrentProfile: function(user) {
                    var resource = this.$resource('/api/userprofile{/user}');
                    resource.get({user: user})
                        .then((response) => {
                            this.currentprofile = response.data;
                            this.prof = response.data;
                        }).catch((error) => {
                            console.log('ERROR')
                        });
                },
            }
        })
</script>
{% endblock %}