{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "workout/stylesheets/asd.css" %}" />
<div class="navbar">
	<ul>
		<li><a class="active" href="{% url 'user:home' %}">Home</a></li>
		<li><a href="{% url 'user:workout' %}">Workout</a></li>
		<li><a class="user"><img src="{% static "workout/images/user.png" %}" id="user"></a></li>
		<li style="float:right"><a href="">Logout</a></li>
	</ul>
</div>
<div class = "content">
	<div id="myModal" class="modal">
  		<div class="modal-content">
    		<span class="close">&times;</span>
    		<p><h1>PROFILE PAGE</h1></p>
    		<img src="{% static "workout/images/pewds.jpg" %}" id="user">
		</div>
	</div>
	<div id="layout" class = "layout">
		<div class="info-header">
			<div class="info">
				<h1>Workout Name: <span>{{workout.workout_name}}</span></h1>
				<h1>Workout Type: <span> {{ workout.get_workout_type_display }} </span></h1>
				<h1>Description: <span>{{ workout.description }}</span></h1>
			</div>
		</div>

		<img src="">
	</div>
</div>
{% endblock %}

{% block js %}
<script>

var modal = document.getElementById('myModal');

var btn = document.getElementById("user");

var span = document.getElementsByClassName("close")[0];

var content = document.getElementById("layout");

 
btn.onclick = function() {
    modal.style.display = "block";
    content.style.display = "none";
}


span.onclick = function() {
    modal.style.display = "none";
    content.style.display = "block";
}


window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
        content.style.display = "block";
    }
}
</script>
{% endblock %}